.reunion{
	    background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}


.map__image{
	width: 100%;
  height: 100%;
	float:left;
}


.map__image{
  fill:#a4ced2;
  stroke: #FFF;
  stroke-width:0.5px;
  transition: fill 0.3s;
}

#RE{
  fill:red;
  stroke: #FFF;
  stroke-width:0.5px;
  transition: fill 0.3s;
}


.map__list{
  float: right;
  width: 50%
}

.map__list a{
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;

}
.map__image path:hover{
  fill:darkblue;
  stroke: #FFF;
  stroke-width:0.5px;
  transition: fill 0.3s;
}

.clicked a:clicked{
  fill:darkblue;
  stroke: #FFF;
  stroke-width:0.5px;
  transition: fill 0.3s;
}