.reunion{
		background-image: url("../images/Reunion-1.jpg");
	    background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.mt-6{
	margin-top : 200px;
}

.mt-7{
	margin-top : 450px;
}

.mt-8{
	margin-top: 52px;
}

header.navigation{
	position: fixed; 
	z-index: 9999; 
	top : 0;
}

h2.sous-titre{
	font-size: 30px;
}

h1.titre{
	font-size: 125px;
}

div.texte{
	height: 884px; 
	width: 490px;  
	border-radius:0;
}

div.images {
	height: 884px;  
	width: 490px; 
	border-radius:0;
}

img.taille {
	height: 100%;  
	width: 100%;
}

h3.titre-partie {
	font-size: 50px;
}

p.trait {
	font-size: 50px;
}

p.texte-partie {
	font-size: 20px; 
	text-align: justify;
}