.mt-6{
	margin-top : 200px;
}

.mt-7{
	margin-top : 450px;
}

.mt-8{
	margin-top: 52px;
}

.page{
	background-color : #B1E2E8;
}

header.navigation{
	position: fixed; 
	z-index: 9999; 
	top : 0;
}

div img.img-carousel {
	width: 100%;
}


a.ancre {
	text-decoration: none;
}

div p.partie{
	text-align: justify;
}

a.retour-haut {
	float : right;
}


