.mt-6{
	margin-top : 200px;
}

.mt-7{
	margin-top : 450px;
}

.mt-8{
	margin-top: 52px;
}

.page{
	background-color : #B1E2E8;
}


@import "compass/css3";

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 300px;
  min-height: 550px;
  margin-top: 10px;
  color: white;
  font-size: 1em;
  text-align: center;
}

.flex-item img{
	width : 100%;
}

/*Css pour le tableau*/

.flex-item table{
	border: 1px solid #1C6EA4;
  background-color: #33C1FF;
}

.flex-item th{
	border: thin solid #6495ed;
	width: 50%;
}

.flex-item td{
	border: thin solid #6495ed;
	width: 50%;
	text-align: left;
}



